@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FDB022;
  --primary-dark: #F7931E;
  --secondary: #F15A24;
  --accent: #FFC85C;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
